
<ion-grid >
    <ion-row>
        <ion-card class="ion-margin">
            <ion-card-header class="ion-text-center">
                LOGIN
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item lines="none">
                        <ion-label floating>Username</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label floating>Password</ion-label>
                        <ion-input type="password"></ion-input>
                    </ion-item>
                    <ion-item lines="none">
                        <p>Forgot Password? <a>Click here</a></p>
                    </ion-item>
                    <ion-button color="danger" expand="block" fill="outline">Login</ion-button>
                </ion-list>
                <b>OR</b>
                <ion-button color="primary" expand="block">
                    <ion-icon slot="start" name="logo-facebook"></ion-icon>
                    Login with facebook
                </ion-button>

                <ion-button color="danger" expand="block">
                    <ion-icon slot="start" name="logo-linkedin"></ion-icon>
                    Login with LinkedIn
                </ion-button>
            </ion-card-content>
        </ion-card>
    </ion-row>
</ion-grid>
