<ion-header>
  <ion-toolbar>
    <ion-title>auth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-card>
           <ion-card-content>
                <ion-list>
                    <ion-item>
                      <ion-label floating>Email Address</ion-label>
                      <ion-input type="email"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label floating>Password</ion-label>
                      <ion-input type="password"></ion-input>
                    </ion-item>
                </ion-list>
          </ion-card-content>
          <ion-row>
               <ion-col>
                 <ion-button >Register</ion-button>
                 <ion-button color="primary">Login</ion-button>
              </ion-col>
           </ion-row>
        </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>
